.myrow {
    padding-top: 10px;
}

.logo {
    box-sizing: border-box;
    padding-top: 5px;
}

.search-box input {
    box-shadow: inset 0 0 10px #dfdfdf;
    padding-right: 15px;
    padding-bottom: 5px;
    height: 40px;
}

.search-box i {
    position: absolute;
    color: #e6123d;
    left: 7px;
    top: 12px;
}

.location i {
    font-weight: bold;
    color: #e6123d !important;
}

.location-btn {
    width: 140px !important;
    max-height: 40px;
}

#downarrow {
    position: absolute;
    color: #e6123d;
    left: 12px;
    top: 10px;
}

.profile i {
    color: #e6123d;
}

.search-box input {
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 241, 241);
    width: 500px;
    outline: none;
}

ul li {
    list-style: none;
    padding-left: 10px;
    border-left: 1px rgb(186, 186, 186) solid;
}

ul li:last-child {
    border: none;
}

.navbar-collapse li {
    position: relative;
}

.navbar-collapse i {
    color: #8a8a8a;
    position: absolute;
    left: 5px;
    top: 13px;
}

.btn {
    width: 60px;
}

.dropdown-menu-location {
    position: absolute;
    display: none;
}

.location:hover .dropdown-menu-location {
    display: block;
}

.dropdown-menu-location {
    margin-top: 10px;
    color: whitesmoke;
    position: absolute;
    left: 12px;
    box-sizing: border-box;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #b8243fe1;
    border-radius: 5px;
    text-align: center;
}

.dropdown-location>.dropdown-toggle-location:active {
    pointer-events: none;
}

.slider-col {
    padding: 0;
}

.services {
    margin: 0 auto;
    text-align: justify;
    padding-top: 15px;
}

.services img {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.services a {
    text-decoration: none;
    color: rgb(9, 9, 11);
}

.services figcaption {
    font-size: 17px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.hover-1 {
    --s: 0.1em;
    /* the thickness of the line */
    --c: #db5588be;
    /* the color */
    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.hover-1:hover {
    --_p: 100%
}

.offer-section {
    padding-top: 10px;
}

.offer-section img {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.footer button {
    border: 1px gray solid;
    width: 140px;
}

.footer i {
    font-size: 12px;
    top: 8px;
    right: 110px;
    position: relative;
}

#btn-back-to-top {
    text-align: start;
}

.ttop-btn:hover {
    color: whitesmoke;
}

#btn-back-to-top:hover {
    background-color: #dd4765;
    color: whitesmoke;
}

.ttop-btn {
    padding-right: 0;
    text-align: right;
    width: 150px;
}

.info ul {
    padding-top: 10px;
}

.perks {
    text-align: center;
}

.background-silhouette {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background-color: #ececec;
    border-radius: 100px;
}

.perks a {
    text-decoration: none;
    color: rgb(22, 16, 62);
}

.banner {
    padding-top: 10px;
}

.banner img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.more-info li {
    padding-bottom: 10px;
    border: none;
}

.li-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.contact-us i {
    margin-top: 10px;
    margin: 0px !important;
    font-size: 30px;
}

.contact-us img {
    margin-top: -10px;
    width: 30px;
}

.myform {
    background-color: rgb(247, 247, 247);
}

.mybtn {
    text-align: center;
    background-color: rgb(199, 199, 199);
}

.footer-color {
    background-color: rgb(235, 235, 235);
}


/*======================================================================================*/

@media (max-width: 992px) {
    .headerbar {
        height: 98px !important;
    }
}

@media (max-width: 768px) {
    .services-icon-size img {
        width: 70% !important;
    }
}

@media (max-width: 768px) {
    .menu-container {
        margin-top: 50px !important;
    }
}


/*======================================================================================*/

.the-big {
    position: fixed;
    background-color: #8a8a8a48;
    width: 100%;
    height: 1840px;
    display: none;
}

.menu-container {
    z-index: 5;
    margin-top: 350px;
    padding: 20px;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: max-content;
    max-height: max-content;
}

.check {
    bottom: 15px;
}

.address-menu-title {
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}